*{
    box-sizing: border-box;
    font-family: Helvetica;
}
.container{
    width: 100%;
}

.heading{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.96px;
    line-height: 48px;
    opacity: 0.75;
    text-align: left;
    padding: 20px;
}

.search-label{
    width: 100%;
    padding: 20px;
}

#search-input{
    border: 1px solid #CECED2;
    border-radius: 3px;
    height: 62px;
    padding: 20px;
    font-size: 28px;
    width: 100%;
}

#search-input:focus{
    background-color: #FFFFFF;
    border: 1px solid rgba(131, 131, 141,0.4);
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(57, 24, 245, 0.4);
}
  
.row{
    padding: 20px;
}

.back{
    margin: 20px;
    background-color: white;
    color: #784CC0;
    width: 143px;
    height: 35px;
    border: none;
    align-items: center;
    display: flex;
}

.backimg{
    color: #784CC0;
    margin: 0 10px;
    height: 16px;
}

.add-btn{
    background-color: #784CC0;
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
    color: white;
    align-items: center;
    display: flex;
}
  
.add-btn:hover{
    background-color: #976BE2;
}

.add-btn:active{
    background-color: #5D3999;
}
  
.checkimg{
    filter: invert(100%);
    margin-right: 5px;
    height: 16px;
}

.add-collection{
    background-color: white;
    border: 1px solid #CECED2;
    border-radius: 3px;
    opacity: 0.4000000059604645;
    width: 100%;
    padding: 10px;
    margin: 10px 15px 15px 0px;
    align-items: center;
    display: flex;
}
  
.add-collection:hover{
    opacity: 1;
}

.add-collection-img{
    margin-right: 5px;
}